torch
faiss-cpu

googlesearch-python
feedparser
langchain
langchain-community
sentence-transformers
python-dotenv
google-generativeai
pydantic
selenium
python-docx
requests
beautifulsoup4
urllib3



